In [49]:
import pandas as pd 
import numpy as np

from sklearn.model_selection import train_test_split 
from sklearn.impute import  KNNImputer , SimpleImputer 
from sklearn.linear_model import LogisticRegression ,LinearRegression
from sklearn.preprocessing import LabelEncoder ,StandardScaler
from sklearn.metrics import accuracy_score

from sklearn.metrics import r2_score
from sklearn.dummy import DummyClassifier

In [47]:
df = pd.read_csv('csv/train.csv',usecols=['Age',"Fare",'Survived'])
df.isna().mean()*100
df

     Survived   Age     Fare
0           0  22.0   7.2500
1           1  38.0  71.2833
2           1  26.0   7.9250
3           1  35.0  53.1000
4           0  35.0   8.0500
..        ...   ...      ...
886         0  27.0  13.0000
887         1  19.0  30.0000
888         0   NaN  23.4500
889         1  26.0  30.0000
890         0  32.0   7.7500

[891 rows x 3 columns]

In [12]:
X = df.drop('Survived',axis=1)
Y = df['Survived']

#### without , random_state=42 you get  data every time when u run code diffrent shuffle data with , random_state=42 you get same shuffle you can try

In [33]:
x_train , x_test , y_train , y_test = train_test_split(X, Y , test_size=0.2 , random_state=42)
x_train

      Age      Fare
331  45.5   28.5000
733  23.0   13.0000
382  32.0    7.9250
704  26.0    7.8542
813   6.0   31.2750
..    ...       ...
106  21.0    7.6500
270   NaN   31.0000
860  41.0   14.1083
435  14.0  120.0000
102  21.0   77.2875

[712 rows x 2 columns]

### i use here base line and baseline means "No brain model score "

### base line is more important 
### Always check baseline before trusting accuracy.

In [50]:
dummy = DummyClassifier(strategy="most_frequent")
dummy.fit(x_train,y_train)
print("Baseline accuracy:", dummy.score(x_test, y_test))

Baseline accuracy: 0.5865921787709497

In [41]:
score = []
for i in range(1,25):
    Knn = KNNImputer(n_neighbors=i)
    x_train_trf = Knn.fit_transform(x_train)
    x_test_trf = Knn.transform(x_test)
    
    # scale = StandardScaler()
    # x_train_s = scale.fit_transform(x_train_trf)
    # x_test_s = scale.transform(x_test_trf)
    
    m = LogisticRegression()
    m.fit(x_train_trf,y_train)
    y_pred = m.predict(x_test_trf)

    score.append(accuracy_score(y_test,y_pred))

In [42]:
score

[0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302,
 0.6480446927374302]

In [38]:
y_train.shape
# x_train

(712,)

In [39]:
s = SimpleImputer()
x_train_Si = s.fit_transform(x_train)
x_test_Si = s.transform(x_test)

x_train_Si.shape

(712, 2)

In [ ]:
# scale = StandardScaler()
# x_train_Si = scale.fit_transform(x_train_Si)
# x_test_Si = scale.transform(x_test_Si)

In [40]:
m1 = LogisticRegression()
m1.fit(x_train_Si,y_train)
y_pred  = m1.predict(x_test_Si)

accuracy_score(y_test,y_pred)

0.6480446927374302

In [96]:
np.isnan(x_train_trf).sum()

np.int64(0)