In [1]:
import pandas as pd 
import numpy as np 
from  sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder , OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('used_cars_data.csv',usecols=['Name','Location','Mileage','Owner_Type','Transmission','Fuel_Type','Price','Kilometers_Driven'])
# df['Location'].value_counts()

Location
Mumbai        949
Hyderabad     876
Coimbatore    772
Kochi         772
Pune          765
Delhi         660
Kolkata       654
Chennai       591
Jaipur        499
Bangalore     440
Ahmedabad     275
Name: count, dtype: int64

In [13]:
x_train , x_test , y_train, y_test = train_test_split(df.drop('Kilometers_Driven',axis=1),
                                                      df['Kilometers_Driven'],
                                                      test_size=0.3,
                                                      random_state=0)
# x_train.shape
x_train

,Name,Location,Fuel_Type,Transmission,Owner_Type,Mileage,Price
6811,Honda City i VTEC CVT VX,Hyderabad,Petrol,Automatic,First,18.0 kmpl,NaN
5029,Ford Figo Aspire 1.2 Ti-VCT Ambiente,Chennai,Petrol,Manual,First,18.16 kmpl,4.85
2423,BMW 3 Series 320d,Mumbai,Diesel,Automatic,First,22.69 kmpl,17.99
2434,Hyundai Xcent 1.2 Kappa S Option,Kolkata,Petrol,Manual,First,19.1 kmpl,3.45
2559,Maruti Swift VDI,Chennai,Diesel,Manual,First,22.9 kmpl,4.40
...,...,...,...,...,...,...,...
4931,Mahindra TUV 300 T8,Pune,Diesel,Manual,First,18.49 kmpl,6.30
3264,Toyota Innova 2.5 G (Diesel) 8 Seater,Jaipur,Diesel,Manual,Second,12.99 kmpl,4.95
1653,Mahindra Scorpio VLX,Kolkata,Diesel,Manual,First,12.05 kmpl,6.25
2607,Hyundai Verna CRDi 1.6 SX Option,Pune,Diesel,Manual,First,22.0 kmpl,11.50
2732,Maruti Swift Dzire ZDI,Jaipur,Diesel,Manual,First,23.4 kmpl,4.30

In [4]:
tranfomer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['Price']),
    ('tnf2',OrdinalEncoder(categories=[['Fourth & Above','Third','Second','First']]),['Owner_Type']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['Location','Fuel_Type'])
],remainder='passthrough')

In [14]:
feature_names = tranfomer.get_feature_names_out()
tra = tranfomer.fit_transform(x_train)
pd.DataFrame(tra,columns=feature_names)
# print(feature_names)

,tnf1__Price,tnf2__Owner_Type,tnf3__Location_Bangalore,tnf3__Location_Chennai,tnf3__Location_Coimbatore,tnf3__Location_Delhi,tnf3__Location_Hyderabad,tnf3__Location_Jaipur,tnf3__Location_Kochi,tnf3__Location_Kolkata,tnf3__Location_Mumbai,tnf3__Location_Pune,tnf3__Fuel_Type_Diesel,tnf3__Fuel_Type_Electric,tnf3__Fuel_Type_LPG,tnf3__Fuel_Type_Petrol,remainder__Name,remainder__Transmission,remainder__Mileage
0,9.502267,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Honda City i VTEC CVT VX,Automatic,18.0 kmpl
1,4.85,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Ford Figo Aspire 1.2 Ti-VCT Ambiente,Manual,18.16 kmpl
2,17.99,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,BMW 3 Series 320d,Automatic,22.69 kmpl
3,3.45,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,Hyundai Xcent 1.2 Kappa S Option,Manual,19.1 kmpl
4,4.4,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Maruti Swift VDI,Manual,22.9 kmpl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5072,6.3,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,Mahindra TUV 300 T8,Manual,18.49 kmpl
5073,4.95,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Toyota Innova 2.5 G (Diesel) 8 Seater,Manual,12.99 kmpl
5074,6.25,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,Mahindra Scorpio VLX,Manual,12.05 kmpl
5075,11.5,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,Hyundai Verna CRDi 1.6 SX Option,Manual,22.0 kmpl
5076,4.3,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Maruti Swift Dzire ZDI,Manual,23.4 kmpl

In [ ]:
le = LabelEncoder()
le.fit_transform(x_train['Transmission'])

array([0, 1, 0, ..., 1, 1, 1], shape=(5077,))