In [1]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('used_cars_data.csv',usecols=['Name','Location','Mileage','Owner_Type','Transmission','Fuel_Type','Price'])
df['Price'] = df['Price'].fillna(0.0)
df['Fuel_Type']

0          CNG
1       Diesel
2       Petrol
3       Diesel
4       Diesel
         ...
7248    Diesel
7249    Petrol
7250    Diesel
7251    Petrol
7252    Diesel
Name: Fuel_Type, Length: 7253, dtype: object

In [3]:
df['Location'].value_counts()

Location
Mumbai        949
Hyderabad     876
Coimbatore    772
Kochi         772
Pune          765
Delhi         660
Kolkata       654
Chennai       591
Jaipur        499
Bangalore     440
Ahmedabad     275
Name: count, dtype: int64

## 3. OneHotEncoding using Sklearn

In [ ]:
x_train , x_test, y_train , y_test = train_test_split(df.drop('Price',axis=1),df['Price'],test_size=0.3,random_state=0)
x_train

,Name,Location,Fuel_Type,Transmission,Owner_Type,Mileage
6811,Honda City i VTEC CVT VX,Hyderabad,Petrol,Automatic,First,18.0 kmpl
5029,Ford Figo Aspire 1.2 Ti-VCT Ambiente,Chennai,Petrol,Manual,First,18.16 kmpl
2423,BMW 3 Series 320d,Mumbai,Diesel,Automatic,First,22.69 kmpl
2434,Hyundai Xcent 1.2 Kappa S Option,Kolkata,Petrol,Manual,First,19.1 kmpl
2559,Maruti Swift VDI,Chennai,Diesel,Manual,First,22.9 kmpl
...,...,...,...,...,...,...
4931,Mahindra TUV 300 T8,Pune,Diesel,Manual,First,18.49 kmpl
3264,Toyota Innova 2.5 G (Diesel) 8 Seater,Jaipur,Diesel,Manual,Second,12.99 kmpl
1653,Mahindra Scorpio VLX,Kolkata,Diesel,Manual,First,12.05 kmpl
2607,Hyundai Verna CRDi 1.6 SX Option,Pune,Diesel,Manual,First,22.0 kmpl
2732,Maruti Swift Dzire ZDI,Jaipur,Diesel,Manual,First,23.4 kmpl

In [5]:
ohe = OneHotEncoder(drop='first',sparse_output=False, dtype=np.int32)
x_train_stake = ohe.fit_transform(x_train[['Fuel_Type','Owner_Type']])
x_test_stake = ohe.transform(x_test[['Fuel_Type','Owner_Type']])

x_train_stake

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]], shape=(5077, 7), dtype=int32)

In [6]:
pd.DataFrame(np.hstack((x_train[['Name','Location','Transmission','Mileage']].values,x_train_stake)))

,0,1,2,3,4,5,6,7,8,9,10
0,Honda City i VTEC CVT VX,Hyderabad,Automatic,18.0 kmpl,0,0,0,1,0,0,0
1,Ford Figo Aspire 1.2 Ti-VCT Ambiente,Chennai,Manual,18.16 kmpl,0,0,0,1,0,0,0
2,BMW 3 Series 320d,Mumbai,Automatic,22.69 kmpl,1,0,0,0,0,0,0
3,Hyundai Xcent 1.2 Kappa S Option,Kolkata,Manual,19.1 kmpl,0,0,0,1,0,0,0
4,Maruti Swift VDI,Chennai,Manual,22.9 kmpl,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
5072,Mahindra TUV 300 T8,Pune,Manual,18.49 kmpl,1,0,0,0,0,0,0
5073,Toyota Innova 2.5 G (Diesel) 8 Seater,Jaipur,Manual,12.99 kmpl,1,0,0,0,0,1,0
5074,Mahindra Scorpio VLX,Kolkata,Manual,12.05 kmpl,1,0,0,0,0,0,0
5075,Hyundai Verna CRDi 1.6 SX Option,Pune,Manual,22.0 kmpl,1,0,0,0,0,0,0
5076,Maruti Swift Dzire ZDI,Jaipur,Manual,23.4 kmpl,1,0,0,0,0,0,0