In [10]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer , SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv('heart_disease_uci.csv',usecols=['trestbps','chol','thalch','num'])# trestbps chol thalch  target - num

In [3]:
df

     trestbps   chol  thalch  num
0       145.0  233.0   150.0    0
1       160.0  286.0   108.0    2
2       120.0  229.0   129.0    1
3       130.0  250.0   187.0    0
4       130.0  204.0   172.0    0
..        ...    ...     ...  ...
915     127.0  333.0   154.0    1
916       NaN  139.0     NaN    0
917     122.0  223.0   100.0    2
918       NaN  385.0     NaN    0
919     120.0  254.0    93.0    1

[920 rows x 4 columns]

In [4]:
df.isna().mean()*100

trestbps    6.413043
chol        3.260870
thalch      5.978261
num         0.000000
dtype: float64

In [5]:
df

     trestbps   chol  thalch  num
0       145.0  233.0   150.0    0
1       160.0  286.0   108.0    2
2       120.0  229.0   129.0    1
3       130.0  250.0   187.0    0
4       130.0  204.0   172.0    0
..        ...    ...     ...  ...
915     127.0  333.0   154.0    1
916       NaN  139.0     NaN    0
917     122.0  223.0   100.0    2
918       NaN  385.0     NaN    0
919     120.0  254.0    93.0    1

[920 rows x 4 columns]

In [6]:
X = df.drop('num', axis=1)
Y = df['num']

In [7]:
x_train , x_test , y_train , y_test = train_test_split(X, Y , test_size=0.2, random_state=42)

In [12]:
si = SimpleImputer(strategy='median')
x_train_im = si.fit_transform(x_train)
x_test_im = si.transform(x_test)

In [13]:
m = LinearRegression()
m.fit(x_train_im,y_train)
y_pred = m.predict(x_test_im)
r2_score(y_test,y_pred)

0.15434517324859776

In [16]:
imputer = IterativeImputer(
    estimator=LinearRegression(),
    max_iter=50,
    random_state=42
)
x_train_mi =imputer.fit_transform(x_train)
x_test_mi = imputer.transform(x_test)

In [17]:
m = LinearRegression()
m.fit(x_train_mi,y_train)
y_pred = m.predict(x_test_mi)
r2_score(y_test,y_pred)

0.15325523863755153