In [6]:
import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv('csv/ford.csv',usecols=['price','mileage','tax','mpg','engineSize'])
df

       price  mileage  tax   mpg  engineSize
0      12000    15944  150  57.7         1.0
1      14000     9083  150  57.7         1.0
2      13000    12456  150  57.7         1.0
3      17500    10460  145  40.3         1.5
4      16500     1482  145  48.7         1.0
...      ...      ...  ...   ...         ...
17961   8999    16700  150  47.1         1.4
17962   7499    40700   30  57.7         1.0
17963   9999     7010   20  67.3         1.6
17964   8299     5007  145  57.7         1.2
17965   8299     5007   22  57.7         1.0

[17966 rows x 5 columns]

In [13]:
# df['total_price'] = df['price'] + df['tax']
# df = df.drop(['price','tax'],axis=1)
df

       mileage   mpg  engineSize  total_price
0        15944  57.7         1.0        12150
1         9083  57.7         1.0        14150
2        12456  57.7         1.0        13150
3        10460  40.3         1.5        17645
4         1482  48.7         1.0        16645
...        ...   ...         ...          ...
17961    16700  47.1         1.4         9149
17962    40700  57.7         1.0         7529
17963     7010  67.3         1.6        10019
17964     5007  57.7         1.2         8444
17965     5007  57.7         1.0         8321

[17966 rows x 4 columns]

In [14]:
x_train , x_test , y_train, y_test = train_test_split(df.drop('mileage',axis=1),df['mileage'],test_size=0.3,random_state=42)

In [15]:
x_train.shape

(12576, 3)

In [16]:
m = LinearRegression()
m.fit(x_train , y_train)
y_pred = m.predict(x_test)
r2_score(y_test,y_pred)

0.5076618660257914